<div class="container mt-5">
  <h1 class="text-center text-primary">Departments</h1>
  <p class="text-center text-muted">Browse and manage hospital departments.</p>

  <div class="row mt-4">
    <% @departments.each do |department| %>
      <div class="col-md-4">
        <div class="card shadow text-center p-3">
          <i class="fas fa-clinic-medical fa-3x text-info"></i>
          <h5 class="mt-2"><%= department.name %></h5>
        </div>
      </div>
    <% end %>
  </div>

  <% if current_user.admin? %>
    <div class="text-center mt-4">
      <%= link_to "Add Department", new_department_path, class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>
